<%- include("./partials/header.ejs")%> 
<div class ="aboutContact">
<h1>Charlotte Area Hackthons</h1>
<p> Charlotte Area Hackthons  is an place where you would get an opportunity to learn about designing and bulding web and mobile applications</p> 
</div>
<%- include("./partials/footer.ejs")%>