<%- include("./partials/header.ejs")%> 
<div class ="content-wrap">
<h1>Charlotte Area Hackathons</h1>
<p> Charlotte Area Hackathons  is an place where you would get an opportunity to learn about various hackthons being conducted across charlotte</p> 
</div>
<%- include("./partials/footer.ejs")%>