<%- include("./partials/header.ejs")%> 
<div class ="aboutContact">
<h1>Please reach us at</h1>
<p>+13126476372</p>
<p>e-mail</p>
<p>architects_meet@uncc.edu</p>
</div>
<%- include("./partials/footer.ejs")%>