<%- include('./partials/header.ejs')%>
    <div class="content-wrap">
          <p>Welcome to Charlotte Area Hackthons</p>
          <p>Here you can meet and connect with peer group who are intreested in the same hackathons as you</p>
          <p> Please see connctions to view all the events</p>
      </div>
<%- include('./partials/footer.ejs')%>
</body>
</html>
