<%- include('../partials/header.ejs')%>
        <div class="content-wrap">
            <form id="newconform" action="/hackathons" method="POST">
                <div class="form-content">
                    <label>Topic : </label>
                    <input type="text" name="connection_topic" id="topic" value="topic" required>
                </div>
                <div class="form-content">
                    <label>Title : </label>
                    <input type="text" name="connection_name" id="name" value="title" required>
                </div>
                <div class="form-content">
                    <label>Host : </label>
                    <input type="text" name="host_name" id="host" value="host" required>
                </div>
                <div class="form-content">
                    <label>Details : </label>
                    <textarea rows="4" cols="50" name="details" id="details" form="newconform" required>descripition</textarea>
                </div>
                <div class="form-content">
                    <label>Where : </label>
                    <input type="text" name="location" id="location" value="location" required>
                </div>
                <div class="form-content">
                    <label>When : </label>
                    <input type="date" name="date" id="date" required>
                </div>
                <div class="form-content">
                    <label>Start : </label>
                    <input type="time" name="start_time" id="start_time" required>
                </div>
                <div class="form-content">
                    <label>End : </label>
                    <input type="time" name="end_time" id="end_time" required>
                </div>
                <div class="form-content">
                    <label>Image Url : </label>
                    <input type="text" name="image_url" id="image" required>
                </div>
                <div class="form-content">
                    <input class="content-btn" type="submit" value="Create Connection" required>
                </div>
            </form>

        </div>
<%- include('../partials/footer.ejs')%>
</body>
</html>
