<footer>
    <nav>
        <ul>
            <li><a href="#">&copy; Charlotte Hackthons</a></li>
            <li><a href=#>ABOUT</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </nav>
</footer>