<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href= "/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Charlotte Hackathons Meetup</title>
</head>
<body>
<main>
    <header>
        <nav>  
            <ul>
                <li class="nav-image"><a href="/"><img src = "/images/new_logo.png" alt="site-brand"></a></li>
                <li class="nav-center">
                    <h1>Charlotte Area Hackathons</h1>
                </li>
                <li><a href="/">Sign up</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="/hackathons/new">Start a new connection</a></li>
            </ul>
        </nav>
        <div class ="bottomheader">
            <a href="/hackathons">Connections</a>
        </div>
    </header>
</main>