<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href= "/css/style.css">
        <title>Charlotte Hackthons Meetup</title>
</head>
<body>
<main>
    <header>
        <nav>  
            <ul>
                <li class="nav-image"><a href="/"><img src = "/images/new_logo.png" alt="site-brand"></a></li>
                <div class="nav-center">
                    <h1>Charlotte Area Hackthons</h1>
                </div>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="../hackthons/new">Start a new connection</a></li>
        </nav>
        <div class ="bottomheader">
            <a href="/hackthons">Connections</a>
        </div>
    </header>
    </main>
</body>