<%- include('./partials/header.ejs')%>
<body>
<main>
    <header>
        <nav>
            <ul>
                <li class="nav-image"><a href="index.html"><img src = "images/new_logo.png" alt="site-brand"></a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Start a new connection</a></li>
            </ul>
        </nav>
        <div class ="bottomheader">
            <a href="connections.html">Connections</a>
        </div>

    </header>
        <div class="content-wrap">
            <form id="newconform" action="connections.html">
                <div class="form-content">
                    <label>Topic : </label>
                    <input type="text" name=topic id=name value="topic">
                </div>
                <div class="form-content">
                    <label>Title : </label>
                    <input type="text" name=title id=title value="title">
                </div>
                <div class="form-content">
                    <label>Host : </label>
                    <input type="text" name=host id=host value="host">
                </div>
                <div class="form-content">
                    <label>Details : </label>
                    <textarea rows="4" cols="50" name="details" form="newconform">descripition</textarea>
                </div>
                <div class="form-content">
                    <label>Where : </label>
                    <input type="text" name=where id=where value="location">
                </div>
                <div class="form-content">
                    <label>When : </label>
                    <input type="date" name=when id=when >
                </div>
                <div class="form-content">
                    <label>Start : </label>
                    <input type="time" name=time id=time >
                </div>
                <div class="form-content">
                    <label>End : </label>
                    <input type="time" name=end id=end >
                </div>
                <div class="form-content">
                    <label>Image Url : </label>
                    <input type="url" name=imgurl id=imgurl >
                </div>
                <div class="form-content">
                    <input class="content-btn" type="submit" value="Create Connection">
                </div>
            </form>

        </div>
<%- include('./partials/footer.ejs')%>
</body>
</html>
