<%- include('../partials/header.ejs')%>
    <section class="content-section">
    <div class="content-wrap divider">
        <section>
         <h2>Web Developement Hackthon</h2>
         <div class="content-item">
             <ul>
                 <li><a class= "content-btn" href="/connection/show">Web Developer workshop</a></li>
                 <li><a class= "content-btn" href="/connection/show">React Js workshop</a></li>
                 <li><a class= "content-btn" href="/connection/show">MERN Stack conference</a></li>
             </ul>
         </div>
        </section>
        <section>
            <h2>Ethical Hacking Workshop</h2>
            <div class="content-item">
                <ul>
                    <li><a class= "content-btn" href="/connection/show">Kali pen test workshop</a></li>
                    <li><a class= "content-btn" href="/connection/show">An intro to Cryptography</a></li>
                    <li><a class= "content-btn" href="/connection/show">Ethical Hacker Workshop</a></li>
                </ul>
            </div>
        </section>
      </div>
    </section>
<%- include('../partials/footer.ejs')%>
</body>
</html>