<%- include('../partials/header.ejs')%>
    <div class="content-wrap divider">
        <section class="content-item">
            <h2>Web Developement Hackthon</h2>
            <img src="/images/conection_image.png" alt="category-image">
            <p><strong>Host : </strong> Hosted by Queen City Webdev</h4>
            <p><strong>Date : </strong>Thursay Spet 16th 2021</p>
            <p><strong>Time : </strong>5:30pm - 6:30pm</p>
            <p><strong>Location : </strong>Bofa Stadium</p>
            <a  class = "content-btn" href="connections.html">Update</a>
            <a class = "content-btn" href="connections.html">Delete</a>
        </section>
        <section class="content-item">
            <h2>Details</h2>
            <p>This Event is for all those who are new to web Developement and want to pusue a new Career in web developemnt</p>
        </section>
      </div>
<%- include('../partials/footer.ejs')%>
